-# coding: utf-8
- members_list = get_members(document)
- counter ||= session[:search][:counter]
- display_members = session[:search][:display_members]
- display_members = "list" unless not (display_members.nil? || "".eql?(display_members))
- if members_list.length > 1
  %h3="#{members_list.length} Member Items"
  %div#member-display
    %div.left
      - if display_members == "grid"
        = link_to("List",:controller=> :user_sessions, :action=>"update", :method=>:put, :id=>document[:id],:display_members=>:list)
      - else
        %em="List"
    %div.right
      - if display_members == "grid"
        %em="Images Only"
      - else
        = link_to("Images Only",:controller=> :user_sessions, :action=>"update", :method=>:put, :id=>document[:id],:display_members=>:grid)
  = render :partial => "catalog/_show_partials/members_#{display_members}", :locals => {:members => members_list}
- else
  = render :partial => "catalog/_show_partials/member",:locals => {:document=>members_list.first}
