- if metadata_list.length == 1
  %dl.dl-horizontal
    - if (groups ||= false)
      = render :partial => "catalog/_show_partials/groups", :locals => {:document => document}
    %dt= "#{t('views.metadata.downloads')}:"
    %dd!= metadata_list.collect {|x| link_to "#{x[:type]}", x[:show_url]}.join(", ")
