-# coding: utf-8
- link ||= false
%div.md-items
  .container-fluid
    .label.span3="Title:"
    .value.span9= (link)? (link_to_mash document) : document["title_display"]
  .container-fluid
    - if document[:identifier_s]
      - if document[:identifier_s].is_a? Array
        - document[:identifier_s].each do |value|
          .label.span3= "ID:"
          .value.span9= value
      - else
        .label.span3= "ID:"
        .value.span9= document[:identifier_s]
    - else
      .label.span3= "ID:"
      .value.span9= document["id"]
  - if document[:access_condition_s]
    .container-fluid
      - if document[:access_condition_s].is_a? Array
        - document[:access_condition_s].each do |value|
          .label.span3= "Access:"
          .value.span9= value
      - else
        .label.span3= "Access:"
        .value.span9= document[:access_condition_s]
