-# coding: utf-8
- display ||= false
- metadata ||= {}
.metadata.container-fluid
  .col-md-8
    %span.title_data="#{metadata[:title]} (#{metadata[:type]})"
  .col-md-4{:style=>"margin-left:0px;"}
    = link_to "Show formatted #{metadata[:type]}", metadata[:show_url] 
    = "--"
    = link_to "Raw XML", metadata[:download_url] 
- if display
  = render :partial => "catalog/_show_partials/metadata_#{metadata[:type].underscore}", :locals => {:metadata => metadata, :document=>document}
