%dl.dl-horizontal
  - if (groups ||= false)
    = render_document_partial(document, "groups") unless document.nil?
  - metadata[:details].each do |name, value|
    %dt= name
    %dd!= value
  %dt= "#{t('views.metadata.downloads')}:"
  %dd!= metadata_list.collect {|x| link_to "#{x[:type]}", x[:show_url]}.join(", ")
