%dl.dl-horizontal
  - metadata[:details].each do |name, value|
    %dt= name
    %dd!= value
  %dt= "Downloadable XML Metadata:"
  %dd!= metadata_list.collect {|x| link_to "#{x[:type]}", x[:show_url]}.join(", ")

