-# coding: utf-8
- link ||= false
%div
  %dl.dl-horizontal
    %dt="Title:"
    %dd= (link)? (link_to_mash document) : document["title_display"]
    %dt="ID:"
    - if document[:identifier_s]
      - if document[:identifier_s].is_a? Array
        - document[:identifier_s].each do |value|
          %dd= value
      - else
        %dd= document[:identifier_s]
    - else
      %dd= document["id"]
    - if document[:access_condition_s]
      %dt.label.label-info="Access:"
      - if document[:access_condition_s].is_a? Array
        - document[:access_condition_s].each do |value|
          %dd= value
      - else
        %dd= document[:access_condition_s]
