#header-navbar-top.navbar
.container-fluid
  .row
    .span8
      %strong
        = link_to "#{image_tag('logo.gif')} #{application_name}".html_safe, root_path
    .span4.nav-collapse
      = render :partial=>"/user_util_links"
  .row
    .span3
    .span9#searchbar
      = render_search_bar
