-# coding: utf-8
- if current_user
  .btn-group.dropdown.pull-right
    %button.dropdown-toggle.btn.btn-default#user_links-toggle{:"data-toggle"=>"dropdown", :type=>"button"}
      %span="My SCV [" + current_user.login + "]"
      %i.glyphicon.glyphicon-list
    %ul.dropdown-menu.pull-right{:role=>"menu", :"aria-labelledby"=>"user_links-toggle"}
      - if current_user.last_search_url
        %li= link_to('View your last search', catalog_index_path(current_user.last_search_url))
      %li= link_to "Saved Searches", saved_searches_path
      %li= link_to "Search History", search_history_path
      %li= link_to('Bookmarked Items', bookmarks_path)
      - if current_user.admin?
        %li= link_to("Admin", :controller => :admin)
      %li= link_to("Log Out", destroy_user_session_path(provider: omniauth_provider_key))
- else
  .pull-right= link_to 'Login', user_omniauth_authorize_path(provider: omniauth_provider_key) 