!!! 5
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>'en'}

  %head
    %meta{"http-equiv"=>"Content-Type","content"=>"text/html; charset=utf-8"}
    %title=(@page_title || application_name)
    %link{:href=>url_for(:controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false), :title=>application_name, :type=>"application/opensearchdescription+xml", :rel=>"search"}
    
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    -  javascript_tag do
      = yield(:jstemplates)
    = raw(render_head_content)
  - bparms = {:class=>render_body_class}
  - if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?
    - bparms[:onload]="$('input#q').focus();"
  %body#doc{bparms}
    = render :partial => 'shared/header_navbar'

    #ajax-modal.modal.hide.fade{:tabindex => -1}

    #main-container.container-fluid
      #search-found.row.hidden-phone
        =topbar_items.join("").html_safe
      .row
        .span12
          #main-flashes
            = render :partial=>'/flash_msg'
      .row
        = yield
    %div#ft= @footer
