!!! 5
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>'en'}

  %head
    %meta{"http-equiv"=>"Content-Type","content"=>"text/html; charset=utf-8"}
    %title=(@page_title || application_name)
    %link{:href=>url_for(:controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false), :title=>application_name, :type=>"application/opensearchdescription+xml", :rel=>"search"}
    
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    -  javascript_tag do
      = yield(:jstemplates)
    = raw(render_head_content)
  - bparms = {}
  - if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?
    - bparms[:onload]="$('input#q').focus();"
  %body#doc{bparms}
    #ajax-modal.modal.hide.fade{:tabindex => -1}
    #page.container-fluid
    %div#hd.row-fluid
      %div.span9
        %h1
          = image_tag('logo.gif')
          = link_to "Columbia University Libraries Staff Collection Viewer", root_url
      %div#user_util_links.span3
        = render :partial=>'/user_util_links'

    %div#bd.row-fluid
      #sidebar.hidden-phone.span2= sidebar_items.join('').html_safe
      #main.span10
        %div.row-fluid
          = render :partial=>'/flash_msg'
          = yield
    %div#ft= @footer
